/* タイポグラフィ用のCSSモジュール */
.thumbnail {
  margin-right: auto;
  margin-left: auto;
}

.borderCircle {
  /* border-radius: 1000px; */
  @apply rounded-full;
}

/* ネオン効果のスタイル */
.neon_text {
  color: #fff; /* テキストの色 */
  text-shadow:
    0 0 10px #08f,
    /* 外側のぼかし */ 0 0 20px #08f,
    /* 外側のぼかし（より大きく） */ 0 0 30px #08f,
    /* 外側のぼかし（さらに大きく） */ 0 0 40px #08f,
    /* 外側のぼかし（最大） */ 0 0 70px #08f; /* 外側のぼかし（極大） */
}
.neon_text_hover:hover {
  text-shadow:
    0 0 10px#fff,
    /* 外側のぼかし */ 0 0 20px,
    /* 外側のぼかし（より大きく） */ 0 0 30px,
    /* 外側のぼかし（さらに大きく） */ 0 0 40px;
  transition-duration: 300ms;
}
